<!-- eslint-disable -->
<template>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 rounded-container">
                We make sure you feel home the moment you’re out of the airport.
            </div>
            <div class="col-md-3 form-container">
                <h1>Book a Car</h1>
                <hr>
                <b-form-group
                    id="input-group-1"
                    label="Full Name:"
                    label-for="input-1">
                    <b-form-input
                        id="input-1"
                        v-validate="'required|alpha_spaces|min:5'"
                        name="full name"
                        v-model="form.full_name"
                        type="text"
                        placeholder="Full Name"></b-form-input>
                    <span>{{ errors.first('full name') }}</span>
                </b-form-group>

                <b-form-group
                    id="input-group-2"
                    label="Mobile phone:"
                    label-for="input-2">
                    <vue-tel-input
                        id="input-2"
                        :dynamicPlaceholder="true"
                        mode="international"
                        @validate="validateMobile($event)"
                        :validCharactersOnly="true"
                        v-validate="'required'"
                        class="form-control"
                        name="mobile phone"
                        v-model="form.mobile_phone"
                        defaultCountry="gb">
                    </vue-tel-input>
                    <span>{{ errors.first('mobile phone') }}</span>
                    <span>
                        {{ errors.has('invalid_mobile_phone') && form.mobile_phone ? errors.first('invalid_mobile_phone') : '' }}
                    </span>
                </b-form-group>

                <b-form-group id="input-group-3" label="Date of Arrival:" label-for="input-3">
                    <datetime
                        id="input-3"
                        v-validate="'required'"
                        type="datetime"
                        placeholder="Date of arrival"
                        :min-datetime="minimum_arrival_date"
                        :auto="true"
                        name="date of arrival"
                        format="dd-MM-yyyy HH:mm:ss"
                        input-class="form-control"
                        v-model="form.date_of_arrival"></datetime>
                    <span>{{ errors.first('date of arrival') }}</span>
                </b-form-group>

                <b-form-group id="input-group-4" label="Airport:" label-for="input-4">
                    <b-form-select
                        id="input-4"
                        v-validate="'required'"
                        name="airport"
                        v-model="form.airport"
                        :options="airports"
                    ></b-form-select>
                    <span>{{ errors.first('airport') }}</span>
                </b-form-group>

                <b-form-group v-if="form.airport==='Heathrow'" id="input-group-5" label="Terminal:" label-for="input-5">
                    <b-form-select
                        id="input-5"
                        v-model="form.terminal"
                        name="terminal"
                        v-validate="'required'"
                        :options="terminals"
                    ></b-form-select>
                    <span>{{ errors.first('terminal') }}</span>
                </b-form-group>

                <b-form-group
                    id="input-group-6"
                    label="Airflight number:"
                    label-for="input-6">
                    <b-form-input
                        id="input-6"
                        name="airflight number"
                        v-model="form.airflight_number"
                        v-validate="'required|flightNumber'"
                        type="text"
                        placeholder="Airflight number"></b-form-input>
                    <span>{{ errors.first('airflight number') }}</span>
                </b-form-group>
                <b-button class="mt-2" variant="outline-success" block @click="create">Send</b-button>
            </div>
        </div>

        <!--successfully save alert-->
        <b-modal ref="saved-modal" hide-footer @hidden="resetForm" title="Successfully Saved!">
            <div class="d-block text-center">
                <h4>Your Order has Successfully Received!..</h4>
            </div>
            <b-button variant="success"
                      class="col-md-12"
                      href="http://unbiased.co.uk"
                      target="_blank"
                      @click="$refs['saved-modal'].hide()">
                Ok
            </b-button>
        </b-modal>
    </div>
</template>

<script>
import Vue from 'vue'
// import axios component
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)
//import mobile number component
import VueTelInput from 'vue-tel-input'

Vue.use(VueTelInput)
// import datepicker component
import {Datetime} from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
// import field validation
import VeeValidate from 'vee-validate';

Vue.use(VeeValidate);
import moment from 'moment';

export default {
    name: 'create-order',
    props: {
        msg: String
    },
    data() {
        return {
            form: {
                "full_name": "",
                "mobile_phone": "",
                "date_of_arrival": "",
                "airport": null,
                "airflight_number": ""
            },
            airports: [{text: 'Airport', value: null}, 'Heathrow', 'Gatwick'],
            terminals: ['1', '2', '3', '4', 'not sure'],
            is_valid_mobile_number: false,
            minimum_arrival_date: JSON.parse(JSON.stringify(new Date()))
        }
    },
    mounted() {
        //custom validate for flight number using vee-validate component
        this.$validator.extend('flightNumber', (value) => {
            let regex = new RegExp('^[A-Z]{2,4}[1-9]{3,4}$');
            return regex.test(value);
        }, {
            hasTarget: true
        });
    },
    methods: {
        create() {
            // validate form
            this.$validator.validate().then(() => {
                if (!this.errors.items.length) {
                    //format date of arrival field
                    let form = JSON.parse(JSON.stringify(this.form));
                    if (form.date_of_arrival) {
                        form.date_of_arrival = moment(form.date_of_arrival).format('YYYY-MM-DD HH:mm:ss')
                    }
                    //axios POST request
                    let that = this;
                    axios.post('http://127.0.0.1:8001/api/order', form)
                        .then(function (response) {
                            console.log(response);
                            // close modal
                            that.$refs['saved-modal'].show()
                        }).catch(function (error) {
                        console.log(error);
                    });
                }
            });
        },
        validateMobile({isValid}) {
            // validate mobile number using vee-validate component
            if (!isValid) {
                this.errors.add({
                    field: 'invalid_mobile_phone',
                    msg: 'Invalid mobile phone'
                })
            } else {
                this.errors.remove('invalid_mobile_phone')
            }

        },
        resetForm() {
            //reset form
            this.form = {
                "full_name": "",
                "mobile_phone": "",
                "date_of_arrival": "",
                "airport": null,
                "airflight_number": ""
            }
            //reset validations
            this.$validator.reset();
        }
    },
    components: {
        datetime: Datetime
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.form-group span {
    color: #ff0000;
}

.form-container {
    color: #ffffff;
    float: right;
    margin-top: 5%;
    margin-right: 10%;
}

.form-container hr {
    background-color: #fff;
}

.rounded-container {
    float: left;
    margin-top: 12%;
    padding: 20px;
    box-shadow: inset 0 0 0 2000px rgba(170, 191, 167, 0.2);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}
</style>
