<!-- eslint-disable -->
<template>
    <div id="app">
        <CreateOrder/>
    </div>
</template>

<script>
import CreateOrder from './components/CreateOrder.vue'
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

// Install BootstrapVue
Vue.use(BootstrapVue)
export default {
    name: 'App',
    components: {
        CreateOrder
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding-top: 60px;
    background-image: url("/background.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    height: 100vh;
}
</style>
